@import "../../global.scss";
.portfolioList{
    font-size: 14px;
    margin-right: 50px;
    padding: 7px;
    border-radius: 10px;
    height: 35%;
    cursor: pointer;

    @include mobile{
        margin: 10px 0;
        flex-wrap: wrap;
        justify-content: center;
       // margin-right: 20px;
    }
    
    &.active{
        background-color: $mainColor;
        color : white
    }
}